
/**
 * @file
 * Base stylesheet for the FeaturedImage module.
 */

.featured_image {
  overflow: hidden;
}
.featured_image .bar {
  height: 1em;
  margin: 1px 0;
  background-color: #ddd;
}
.featured_image .bar .foreground {
  background-color: #000;
  height: 1em;
  float: left; /* LTR */
}
