
/**
 * @file
 * Base stylesheet for the Slider module.
 */

.slider {
  overflow: hidden;
}
.slider .bar {
  height: 1em;
  margin: 1px 0;
  background-color: #ddd;
}
.slider .bar .foreground {
  background-color: #000;
  height: 1em;
  float: left; /* LTR */
}
